.calendar {
    margin-bottom: 4rem;
    padding: 0.10rem;
}

.calendar table {
    width: 100%;
    font-size: 11px;
    table-layout: fixed;
}

.calendar table, .calendar table th, .calendar table td {
    border-collapse: collapse;
    border: solid 1px #fff;
    color: #404040;
}

.calendar table th {
    text-align: center;
    padding: 4px 0px;
    background-color: #fff;
}

.calendar table td {
    text-align: center;
    padding: 4px 2px;
    font-size: 0.8rem;
}

.calendar table td.invalid {
    text-indent: -9999px;
    background-color: lightgrey !important;
}

.calendar table td.weekday {
    background-color: lightgreen;
}

.calendar table td.weekend {
    background-color: lightyellow;
}


/* Styles for Controls */

.controls {
    margin-bottom: 4rem;
}